.video-player {
    float: left;
    padding: 10px;

    -moz-border-radius: 5px; /* FF1+ */
    -ms-border-radius: 5px; /* IE future proofing */
    -webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px; /* Opera 10.5, IE 9 */

    background: #000000;
    background-image: -moz-linear-gradient(top, #313131, #000000); /* FF3.6 */
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #313131),color-stop(1, #000000)); /* Saf4+, Chrome */

    box-shadow: inset 0 15px 35px #535353;
}
.video-controls{
    background-color: #828282;
    height: 3em;
    width: 100%;
    bottom:0px;
}

.video-play {
    display: block;
    width: 22px;
    height: 22px;
    float: left;
    background: url(../images/play-icon.png) no-repeat;

    opacity: 0.7;

    -moz-transition: all 0.2s ease-in-out; /*在Firefox浏览器中*/
    -ms-transition: all 0.2s ease-in-out; /*在IE浏览器中*/
    -o-transition: all 0.2s ease-in-out;  /*在Opera浏览器中*/
    -webkit-transition: all 0.2s ease-in-out; /*在Safari与Chrome浏览器中*/
    transition: all 0.2s ease-in-out;
}

.paused-button {
    background: url(../images/pause-icon.png) no-repeat;
}

.video-play:hover {
    opacity: 1;
}
.volume-button{
    background: url(../images/volume-mute-icon.png) no-repeat;
    display: block;
    width: 22px;
    height: 22px;
    float: right;
}
.full-screen-button{
    float:right;
}
.video-seek .ui-slider-handle {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    top: -4px;

    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;

    background: #e6e6e6;
    background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));

    box-shadow: inset 0 -3px 3px #d5d5d5;
}

.video-seek .ui-slider-handle.ui-state-hover {
    background: #fff;
}

.video-seek .ui-slider-range {
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;

    background: #4cbae8;
    background-image: -moz-linear-gradient(top, #4cbae8, #39a2ce);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4cbae8),color-stop(1, #39a2ce));

    box-shadow: inset 0 -3px 3px #39a2ce;
}

/*.volume-box {*/
    /*height: 30px;*/
    /*float: right;*/
    /*-moz-transition: all 0.1s ease-in-out; *//*在Firefox浏览器中 */
    /*-ms-transition: all 0.1s ease-in-out; *//*在IE浏览器中 */
    /*-o-transition: all 0.2s ease-in-out;  *//*在Opera浏览器中*/
    /*-webkit-transition: all 0.1s ease-in-out; *//*在Safari与Chrome浏览器中*/
    /*transition: all 0.1s ease-in-out;*/
/*}*/

/*.volume-box:hover {*/
    /*height: 50px;*/
    /*padding-top: 5px;*/
/*}*/

.volume-slider {
    width: 40px;
    height: 20px;
    float: right;
    -moz-transition: all 0.1s ease-in-out; /*在Firefox浏览器中*/
    -ms-transition: all 0.1s ease-in-out;  /*在IE浏览器中*/
    -o-transition: all 0.1s ease-in-out;  /*在Opera浏览器中*/
    -webkit-transition: all 0.1s ease-in-out; /*在Safari与Chrome浏览器中*/
    transition: all 0.1s ease-in-out;
}
.video-control-bar{
    width: 400px;height: 2em;
    background-color: #07141e;
    background-color: rgba(7, 20, 30, .7)
    -moz-border-radius: 5px; /* FF1+ */
    -ms-border-radius: 5px; /* IE future proofing */
    -webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px; /* Opera 10.5, IE 9 */
}
.video-component-player{
    background: url(../images/play-icon.png) no-repeat;
    width: 22px;
    height: 22px;
}
.video-component-volume{
    background: url(../images/volume-full-icon.png) no-repeat;
    width: 22px;
    height: 22px;
}